.DrawerToggle{
    display: none;
    color: white;
    height: 100%;
    width:40px ;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    box-sizing: border-box;
    padding: 10px 0;    
}
.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
}


@media (min-width : 499px){
    .DrawerToggle{
        display:  none;
    }
}